{% extends "Main/base.html" %}
{% load static %}
{% block title %} Main {% endblock %}
{% block contentheader %} AAAA{% endblock %}
{% block contentheader1 %} AAAAA{% endblock %}
{% block contentheader2 %} SSSS {% endblock %}
{% block cssblock %}
<link rel="stylesheet" href="{% static 'Main/plugins/fullcalendar/main.min.css' %}">
<link rel="stylesheet" href="{% static 'Main/plugins/fullcalendar-daygrid/main.min.css' %}">
<link rel="stylesheet" href="{% static 'Main/plugins/fullcalendar-timegrid/main.min.css' %}">
<link rel="stylesheet" href="{% static 'Main/plugins/fullcalendar-bootstrap/main.min.css' %}">
{% endblock %}
{% block content %}
<section class="content">
      <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                  <div class="col-lg col">
                        <!-- small box -->
                        <div class="small-box bg-info">
                              <div class="inner">
                                    <h3>150</h3>

                                    <p>New Orders</p>
                              </div>
                              <div class="icon">
                                    <i class="ion ion-bag"></i>
                              </div>
                              <a href="#" class="small-box-footer">More info <i
                                          class="fas fa-arrow-circle-right"></i></a>
                        </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg col">
                        <!-- small box -->
                        <div class="small-box bg-success">
                              <div class="inner">
                                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                                    <p>Bounce Rate</p>
                              </div>
                              <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                              </div>
                              <a href="#" class="small-box-footer">More info <i
                                          class="fas fa-arrow-circle-right"></i></a>
                        </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg col">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                              <div class="inner">
                                    <h3>44</h3>

                                    <p>User Registrations</p>
                              </div>
                              <div class="icon">
                                    <i class="ion ion-person-add"></i>
                              </div>
                              <a href="#" class="small-box-footer">More info <i
                                          class="fas fa-arrow-circle-right"></i></a>
                        </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg col">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                              <div class="inner">
                                    <h3>65</h3>

                                    <p>Unique Visitors</p>
                              </div>
                              <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                              </div>
                              <a href="#" class="small-box-footer">More info <i
                                          class="fas fa-arrow-circle-right"></i></a>
                        </div>
                  </div>
                  <div class="col-lg col">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                              <div class="inner">
                                    <h3>65</h3>

                                    <p>Unique Visitors</p>
                              </div>
                              <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                              </div>
                              <a href="#" class="small-box-footer">More info <i
                                          class="fas fa-arrow-circle-right"></i></a>
                        </div>
                  </div>
                  <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                  <!-- Left col -->
                  <section class="col-lg-6 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card" style="height: 750px;">
                              <div class="card-header">
                                    <h3 class="card-title">Fixed Header Table</h3>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">
                                    <table id="dtDynamicVerticalScrollExample"
                                          class="table table-striped table-bordered table-sm" cellspacing="0"
                                          width="100%">
                                          <thead>
                                                <tr>
                                                      <th class="th-sm">Name
                                                      </th>
                                                      <th class="th-sm">Position
                                                      </th>
                                                      <th class="th-sm">Office
                                                      </th>
                                                      <th class="th-sm">Age
                                                      </th>
                                                      <th class="th-sm">Start date
                                                      </th>
                                                      <th class="th-sm">Salary
                                                      </th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr>
                                                      <td>Tiger Nixon</td>
                                                      <td>System Architect</td>
                                                      <td>Edinburgh</td>
                                                      <td>61</td>
                                                      <td>2011/04/25</td>
                                                      <td>$320,800</td>
                                                </tr>
                                                <tr>
                                                      <td>Garrett Winters</td>
                                                      <td>Accountant</td>
                                                      <td>Tokyo</td>
                                                      <td>63</td>
                                                      <td>2011/07/25</td>
                                                      <td>$170,750</td>
                                                </tr>
                                                <tr>
                                                      <td>Ashton Cox</td>
                                                      <td>Junior Technical Author</td>
                                                      <td>San Francisco</td>
                                                      <td>66</td>
                                                      <td>2009/01/12</td>
                                                      <td>$86,000</td>
                                                </tr>
                                                <tr>
                                                      <td>Cedric Kelly</td>
                                                      <td>Senior Javascript Developer</td>
                                                      <td>Edinburgh</td>
                                                      <td>22</td>
                                                      <td>2012/03/29</td>
                                                      <td>$433,060</td>
                                                </tr>
                                                <tr>
                                                      <td>Airi Satou</td>
                                                      <td>Accountant</td>
                                                      <td>Tokyo</td>
                                                      <td>33</td>
                                                      <td>2008/11/28</td>
                                                      <td>$162,700</td>
                                                </tr>
                                                <tr>
                                                      <td>Brielle Williamson</td>
                                                      <td>Integration Specialist</td>
                                                      <td>New York</td>
                                                      <td>61</td>
                                                      <td>2012/12/02</td>
                                                      <td>$372,000</td>
                                                </tr>
                                                <tr>
                                                      <td>Herrod Chandler</td>
                                                      <td>Sales Assistant</td>
                                                      <td>San Francisco</td>
                                                      <td>59</td>
                                                      <td>2012/08/06</td>
                                                      <td>$137,500</td>
                                                </tr>
                                                <tr>
                                                      <td>Rhona Davidson</td>
                                                      <td>Integration Specialist</td>
                                                      <td>Tokyo</td>
                                                      <td>55</td>
                                                      <td>2010/10/14</td>
                                                      <td>$327,900</td>
                                                </tr>
                                          </tbody>
                                          <tfoot>
                                                <tr>
                                                      <th>Name
                                                      </th>
                                                      <th>Position
                                                      </th>
                                                      <th>Office
                                                      </th>
                                                      <th>Age
                                                      </th>
                                                      <th>Start date
                                                      </th>
                                                      <th>Salary
                                                      </th>
                                                </tr>
                                          </tfoot>
                                    </table>
                              </div>
                              <!-- /.card-body -->
                        </div>
                  </section>
                  <section class="col-lg-6 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card" style="height: 750px;">
                              <div class="card-header">
                                    <h3 class="card-title">
                                          <i class="fas fa-calendar-alt mr-2"></i>
                                          <!-- <i class="fas fa-chart-pie mr-1"></i> -->
                                          Lịch
                                    </h3>
                              </div><!-- /.card-header -->
                              <div class="card-body">
                                    <div class="tab-content p-0">
                                          <!-- Morris chart - Sales -->
                                          <div class="chart tab-pane active" id="revenue-chart"
                                                style="position: relative; height: 100%;">
                                                <canvas id="revenue-chart-canvas" height="300"
                                                      style="height: 600px;"></canvas>
                                          </div>
                                          <div class="chart tab-pane" id="sales-chart"
                                                style="position: relative; height: 100%;">
                                                <canvas id="sales-chart-canvas" height="300"
                                                      style="height: 600px;"></canvas>
                                          </div>
                                    </div>
                              </div>
                              <!-- /.card-body -->
                        </div>
                  </section>

                  <!-- /.card -->
            </div>
            <div class="row">
                  <section class="col-lg-12 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card">
                              <div class="card-header">
                                    <h3 class="card-title">
                                          <i class="fas fa-sticky-note mr-2"></i>
                                          <!-- <i class="fas fa-chart-pie mr-1"></i> -->
                                          Nội dung cần thực hiện
                                    </h3>
                              </div><!-- /.card-header -->
                              <div class="card-body">
                                    <div class="tab-content p-0">
                                          <!-- Morris chart - Sales -->
                                          <div class="chart tab-pane active" id="revenue-chart"
                                                style="position: relative; height: 300px;">
                                                <canvas id="revenue-chart-canvas" height="300"
                                                      style="height: 300px;"></canvas>
                                          </div>
                                          <div class="chart tab-pane" id="sales-chart"
                                                style="position: relative; height: 300px;">
                                                <canvas id="sales-chart-canvas" height="300"
                                                      style="height: 300px;"></canvas>
                                          </div>
                                    </div>
                              </div>
                              <!-- /.card-body -->
                        </div>
                  </section>
            </div>
      </div>

</section>
{% endblock %}


{% block jsblock %}
<!-- DataTable -->
<script src="{% static 'Main/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'Main/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'Main/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'Main/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- Calender -->
<script src="{% static 'Main/plugins/fullcalendar/main.min.js' %}"></script>
<script src="{% static 'Main/plugins/fullcalendar-daygrid/main.min.js' %}"></script>
<script src="{% static 'Main/plugins/fullcalendar-timegrid/main.min.js' %}"></script>
<script src="{% static 'Main/plugins/fullcalendar-interaction/main.min.js' %}"></script>
<script src="{% static 'Main/plugins/fullcalendar-bootstrap/main.min.js' %}"></script>
<script>
      $(document).ready(function () {
            $('#dtDynamicVerticalScrollExample').DataTable({
                  "scrollY": "50vh",
                  "scrollCollapse": true,
                  
            });
            $('.dataTables_length').addClass('bs-select');
      });
</script>
{% endblock %}