{% extends "Main/base.html" %}
{% load static %}
{% block title %} Main {% endblock %}
{% block contentheader %} AAAA{% endblock %}
{% block contentheader1 %} AAAAA{% endblock %}
{% block contentheader2 %} SSSS {% endblock %}
{% block cssblock %}
<link rel="stylesheet" href="{% static 'Main/plugins/fullcalendar/main.min.css' %}">
<link rel="stylesheet" href="{% static 'Main/plugins/fullcalendar-daygrid/main.min.css' %}">
<link rel="stylesheet" href="{% static 'Main/plugins/fullcalendar-timegrid/main.min.css' %}">
<link rel="stylesheet" href="{% static 'Main/plugins/fullcalendar-bootstrap/main.min.css' %}">
{% endblock %}
{% block content %}
<section class="content">
      <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                  <div class="col-lg col">
                        <!-- small box -->
                        <div class="small-box bg-info">
                              <div class="inner">
                                    <h3>150</h3>

                                    <p>New Orders</p>
                              </div>
                              <div class="icon">
                                    <i class="ion ion-bag"></i>
                              </div>
                              <a href="#" class="small-box-footer">More info <i
                                          class="fas fa-arrow-circle-right"></i></a>
                        </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg col">
                        <!-- small box -->
                        <div class="small-box bg-success">
                              <div class="inner">
                                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                                    <p>Bounce Rate</p>
                              </div>
                              <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                              </div>
                              <a href="#" class="small-box-footer">More info <i
                                          class="fas fa-arrow-circle-right"></i></a>
                        </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg col">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                              <div class="inner">
                                    <h3>44</h3>

                                    <p>User Registrations</p>
                              </div>
                              <div class="icon">
                                    <i class="ion ion-person-add"></i>
                              </div>
                              <a href="#" class="small-box-footer">More info <i
                                          class="fas fa-arrow-circle-right"></i></a>
                        </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg col">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                              <div class="inner">
                                    <h3>65</h3>

                                    <p>Unique Visitors</p>
                              </div>
                              <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                              </div>
                              <a href="#" class="small-box-footer">More info <i
                                          class="fas fa-arrow-circle-right"></i></a>
                        </div>
                  </div>
                  <div class="col-lg col">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                              <div class="inner">
                                    <h3>65</h3>

                                    <p>Unique Visitors</p>
                              </div>
                              <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                              </div>
                              <a href="#" class="small-box-footer">More info <i
                                          class="fas fa-arrow-circle-right"></i></a>
                        </div>
                  </div>
                  <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                  <!-- Left col -->
                  <section class="col-lg-4 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card" style="height: 750px;">
                              <div class="card-header">
                                    <h3 class="card-title">Fixed Header Table</h3>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">

                              </div>
                              <!-- /.card-body -->
                        </div>
                  </section>
                  <section class="col-lg-8 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card" style="height: 750px;">
                              <div class="card-header">
                                    <h3 class="card-title">Fixed Header Table</h3>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">

                              </div>
                              <!-- /.card-body -->
                        </div>
                  </section>
            </div>
      </div>

</section>
{% endblock %}


{% block jsblock %}
<!-- DataTable -->
<script src="{% static 'Main/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'Main/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'Main/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'Main/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- Calender -->
<!-- <script src="{% static 'Main/plugins/fullcalendar/main.min.js' %}"></script>
<script src="{% static 'Main/plugins/fullcalendar-daygrid/main.min.js' %}"></script>
<script src="{% static 'Main/plugins/fullcalendar-timegrid/main.min.js' %}"></script>
<script src="{% static 'Main/plugins/fullcalendar-interaction/main.min.js' %}"></script>
<script src="{% static 'Main/plugins/fullcalendar-bootstrap/main.min.js' %}"></script> -->
{% endblock %}