<!DOCTYPE html>
{% extends "QLVB2_APP/base.html"%}
  {% block body_block %}
  {% load static %}
</br>
  <section class="content">
          <!-- Small boxes (Stat box) -->
        <!-- /.row -->
      <!-- Main row -->
      <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">

                {% if page_hienthi %}
                <table  class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th class = "align-middle text-center" >STT</th>
                    <th class = "align-middle text-center" style="width: 20%">Họ và Tên</th>
                    <th class = "align-middle text-center" style="width: 20%">Bằng cấp</th>
                    <th class = "align-middle text-center" style="width: 20%">Chứng chỉ</th>
                    <th class = "align-middle text-center" style="width: 30%">Ghi chú </th>
                    <th class = "align-middle text-center" style="width: 20%">Chỉnh sửa</th>
                  </tr>
                </thead>
                {% for x in page_hienthi %}
                <tbody>
                    <tr>
                      <td class = "align-middle text-center" >{{ x.stt_bc }}</td>
                      <td class = "align-middle" style="text-align: justify;width: 20%">{{ x.hovaten_bc}}</td>
                      <td class = " align-middle text-center" style="width: 20%">{{ x.bangcap_bc }}</td>
                      <td class = " align-middle text-center" style="width: 20%">{{ x.chungchi_bc}}</td>
                      <td class = " align-middle " style="text-align: justify;width: 30%">{{ x.Ghichu_bc}}</td>
                      <td class = " align-middle text-center" style="width: 20%" >
                        <a href="{% url 'QLVB2_APP:edit_bangcap' x.stt_bc %}" class="btn btn-warning btn-sm"> Sửa</a>
                        <a href="{% url 'QLVB2_APP:delete_bangcap' x.stt_bc %}" class="btn btn-sm btn-danger"> Xóa</a>
                      </td>
                    </tr>
                  </tbody>
              {% endfor %}
                  {% if page_hienthi.has_other_pages %}
                  <ul class="pagination col-1">
                    {% if page_hienthi.has_previous %}
                      <li><a class="form-control" href="?page={{ page_hienthi.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled form-control"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in page_hienthi.paginator.page_range %}
                      {% if page_hienthi.number == i %}
                        <li class="active text-red form-control"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a class="form-control" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_hienthi.has_next %}
                      <li><a class="form-control" href="?page={{ page_hienthi.next_page_number }}">&raquo;</a></li>
                      {% else %}
                      <li class="disabled form-control"><span>&raquo;</span></li>
                    {% endif %}
                    <!-- <span ><a class="form-control text-blue" href="{% url 'QLVB2_APP:export_csv' %}">Export</a></span> -->
                    </ul>
                  {% endif %}
            </table>
              {% else %}
              <p>Không tìm thấy dữ liệu nào.</p>
              {% endif %}
            </br>
              <!-- <form method="POST">
                  {{form.errors}}
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-4">
                      <input type="text" class="form-control" id="hovaten_bc" name = "hovaten_bc" placeholder="Họ và Tên" value='{{hovaten_bc}}'>
                    </div>
                    <div class="form-group col-4">
                      <input type="text" class="form-control" id="bangcap_bc" name = "bangcap_bc" placeholder="Bằng cấp" value='{{bangcap_bc}}'>
                    </div>
                    <div class="form-group col-4">
                      <input type="text" class="form-control" id="chungchi_bc" name = "chungchi_bc" placeholder="Chứng chỉ" value='{{chungchi_bc}}'>
                    </div>
                    <div class="form-group col-9">
                      <input type="text" class="form-control" id="Ghichu_bc" name = "Ghichu_bc" placeholder="Ghi chú" value='{{Ghichu_bc}}'>
                    </div>
                <input type="submit" class="col-3 btn btn-primary form-control" value="Thêm vào">
           </form> -->
            </div>
              <!-- /.card-body -->
            <!-- /.card -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div>
        <!-- /.row -->
      </section>

  </section>
  {% endblock %}
