<!DOCTYPE html>
{% extends "QLVB2_APP/base.html" %}
  {% block body_block %}
    {% load static %}
</br>
  <div class="content">

    <!-- <div class="container-fluid"> -->
      <div class="row">
        <!-- thay đổi chiều rộng ở đây (giá trị 12 full, 6 là 2 ô) -->
        <div class="col-12">

                    <div class="card">
                      <div class="card-body">
                        {% if page_hienthi %}
                        <table  class="table table-bordered table-hover">
                          <thead>
                          <tr>
                            <th class = "align-middle text-center" >STT</th>
                            <th class = "align-middle text-center" style="width: 30%">Nội dung thực hiện</th>
                            <th class = "align-middle text-center" style="width: 10%">Thực hiện</th>
                            <th class = "align-middle text-center" style="width: 10%">Thời gian Kết thúc</th>
                            <th class = "align-middle text-center" style="width: 10%">Kết quả</th>
                            <th class = "align-middle text-center" style="width: 30%">Ghi chú (Căn cứ triển khai)</th>
                            <th class = "align-middle text-center" style="width: 20%">Chỉnh sửa</th>
                          </tr>
                        </thead>
                        {% for x in page_hienthi %}
                        <tbody>
                            <tr>
                              <td class = "align-middle text-center" >{{ x.stt_name }}</td>
                              <td class = "align-middle" style="text-align: justify;width: 30%">{{ x.doidung_name}}</td>
                              <td class = " align-middle text-center" style="width: 10%">{{ x.thuchien_name }}</td>
                              <td class = " align-middle text-center" style="width: 10%">{{ x.ketthuc_name|date:"d/n/Y" }}</td>
                              <td class = " align-middle text-center" style="width: 10%">{{ x.tiendo_name}}</td>
                              <td class = " align-middle " style="text-align: justify;width: 30%">{{ x.Ghichu_name}}</td>
                              <td class = " align-middle text-center" style="width: 20%" >
                                <a href="{% url 'QLVB2_APP:edit_congviec' x.stt_name %}" class="btn btn-warning btn-sm"> Sửa</a>
                                <a href="{% url 'QLVB2_APP:delete_congviec' x.stt_name %}" class="btn btn-sm btn-danger"> Xóa</a>
                              </td>
                            </tr>
                          </tbody>
                      {% endfor %}
                          {% if page_hienthi.has_other_pages %}

                          <ul class="pagination col-1">
                            {% if page_hienthi.has_previous %}
                              <li><a class="form-control" href="?page={{ page_hienthi.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                              <li class="disabled form-control"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in page_hienthi.paginator.page_range %}
                              {% if page_hienthi.number == i %}
                                <li class="active text-red form-control"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li><a class="form-control" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if page_hienthi.has_next %}
                              <li><a class="form-control" href="?page={{ page_hienthi.next_page_number }}">&raquo;</a></li>
                              {% else %}
                              <li class="disabled form-control"><span>&raquo;</span></li>

                            {% endif %}
                            <!-- <span ><a class="form-control text-blue" href="#">Export</a></span> -->
                          </ul>
                      {% endif %}
                    </table>
                      {% else %}
                      <p>Không tìm thấy dữ liệu nào.</p>
                      {% endif %}
                      </div>
                    </div>
                    <!-- /.card -->
                  </div>
        <!-- /.col-md-6 -->
        <!-- thay đổi chiều rộng ở đây giá trị 12 là full, 6 là 2 ô -->
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    <!-- </div> -->
    <!-- /.container-fluid -->
  </div>
  {% endblock %}
