<!DOCTYPE html>
{% extends "QLVB2_APP/base.html" %}
  {% block body_block %}
    {% load static %}
    <div class="row">
      <!-- thay đổi chiều rộng ở đây (giá trị 12 full, 6 là 2 ô) -->
      <div class="col-lg-12">
        <div class="card">
         <div class="card-body">
			<p>Cán bộ đã chắc chắn muốn xóa "{{delete_bangcap}}" chưa?</p>
			<form action="{% url 'QLVB2_APP:delete_bangcap' delete_bangcap.stt_bc  %}" method="POST">
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'QLVB2_APP:bangcap' %}">Trở về</a>
				<input class="btn btn-danger" type="submit" name="Confirm"></iput>

			</form>
    </div>
    </div>
    </div>
  </div>
{% endblock %}
